<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Local_Connection" value="D7jn6FVK+IiRglgwNAP8J/KvM5Q3h/m9utuzBpVH15+BFFbUfCqPjuuOU2YWtSU/IzWvjV1s6QwoFWlg++OYDSZdYWBGGjhBXPR0JQzWXr+Fqg26GJE1hJjhcWPbWkAB"/>
    <add key="Internet_Connection" value="DqE3QQ58MazFIKVZaGV4btu96gSFMxZPpJXs2RZjL8wcdUjSWXXZKCZITZSiPV7nZGpF6GFrlmJgV7/P7uX145H8c+RDpNcpcUJ4fqTn+/a/xRTX6tgo9O8ToLjjtmH9"/>
    <add key="MyServer_Connection" value="GjC3kx3TDubV6KBporJ53jU3hQu7q2tcizMmRem96bzpDEha24d6U+8iiBq5K1dWYci7mG8r0W02A5pzfO/2IkqL/cLVd08t9xQGKyvBWzFqEU3KRCYZnVdsrTUjK8ll"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>